<div class="container">
    <h1>Booker</h1>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="email" required />
        <mat-icon matSuffix>email</mat-icon>
        @if (email.invalid) {
            <mat-error>
                {{getEmailErrorMessage}}
            </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="password" required />
        <mat-icon matSuffix>lock</mat-icon>
        @if (password.invalid) {
            <mat-error>
                {{getPasswordErrorMessage}}
            </mat-error>
        }
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit()">
          {{ submitLabel }}
    </button>
</div>